AUTH_SECRET=dev_secret
PORT=3001

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=pavithra8805@gmail.com
SMTP_PASS=Pavithra2005
FROM_EMAIL=pavithra8805@gmail.com
CONTACT_NOTIFY_EMAIL=pavithra8805@gmail.com

DEBUG_EMAILS=true
FRONTEND_ORIGIN=http://localhost:3000